.banners {
  padding-bottom: 72px;

  &__inner {
    display: flex;

    @include media-2 {
     flex-direction: column;
    }
  }

  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding-top: 69px;
    padding-bottom: 82px;
    padding-left: 32px;
    padding-right: 15px;
    text-transform: uppercase;
    color: $dark-500;

    &:not(:last-child) {
      margin-right: 30px;

      @include media-1 {
       margin-right: 15px;
      }

      @include media-2 {
       margin-right: 0;
       margin-bottom: 15px;
      }
    }


    &--fruits {
      max-width: 630px;
      width: 100%;
      color: $white;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    }

    &--vegetables {
      max-width: 300px;
      width: 100%;
    }

    &--bread {
      max-width: 300px;
      width: 100%;
    }

    @include media-1 {
     padding-left: 16px;
    }

    @include media-2 {
     max-width: 100%;
     padding-top: 74px;
     padding-bottom: 36px;
    }
  }

  &__text {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1.6px;
    margin-bottom: 18px;
    font-weight: 700;

    @include media-4 {
     margin-bottom: 16px;
    }
  }

  &__title {
    font-size: 30px;
    font-family: 'ruda' , sans-serif;
    max-width: 160px;
    margin-bottom: 6px;

    &--width {
      max-width: 346px;

      @include media-4 {
       max-width: 260px;
      }
    }

    @include media-3 {
     font-size: 24px;
     margin-bottom: 71px;
    }
  }

  &__link {
    font-weight: 700;
    line-height: 1;
    padding-bottom: 6px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $dark-500;
      width: 100%;
      height: 2px;
    }

    &--background {

      &::before {
        background-color: $white;
      }
    }
  }

  @include media-3 {
   padding-bottom: 48px;
  }
}
