.banners {
  padding-bottom: 72px;

  @include media-3 {
    padding-bottom: 48px;
  }

  &__inner {
    display: flex;

    @include media-2 {
      flex-wrap: wrap;
    }

    @include media-3 {
     flex-wrap: nowrap;
     flex-direction: column;
    }
  }

  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding-top: 76px;
    padding-bottom: 81px;
    padding-left: 32px;
    padding-right: 15px;
    text-transform: uppercase;
    color: $dark-500;

    @include media-1 {
      padding-left: 16px;
    }

    @include media-2 {
      max-width: 100%;
      padding-top: 73px;
      padding-bottom: 38px;
    }
    
    &:not(:last-child){
     margin-right: 30px;

     @include media-2 {

      &:not(:last-child){
       margin-right: 15px;
      }
      
      &:first-child {
        margin-right: 0;
      }
     }

     @include media-3 {
       border-radius: 6px;
      
      &:not(:last-child){
       margin-right: 0;
      }
     }
    }

    &--fruits {
      max-width: 630px;
      width: 100%;
      color: $white;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);

      @include media-2 {
        max-width: 100%;
        margin-bottom: 15px;
      }
    }

    &--vegetables {
      max-width: 300px;
      width: 100%;

      @include media-2 {
        width: auto;
        max-width: none;
        flex: 1 1 auto;
      }

      @include media-3 {
       margin-bottom: 15px;
      }
    }

    &--bread {
      max-width: 300px;
      width: 100%;

      @include media-2 {
        width: auto;
        max-width: none;
        flex: 1 1 auto;
      }
    }
  }

  &__text {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1.6px;
    margin-bottom: 18px;
    font-weight: 700;

    @include media-4 {
      margin-bottom: 16px;
    }
  }

  &__title {
    font-size: 30px;
    font-family: "ruda", sans-serif;
    max-width: 160px;
    margin-bottom: 6px;

    &--width {
      max-width: 346px;

      @include media-4 {
        max-width: 260px;
      }
    }

    @include media-3 {
      font-size: 24px;
      margin-bottom: 71px;
    }
  }

  &__link {
    font-weight: 700;
    line-height: 1;
    padding-bottom: 6px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $dark-500;
      width: 100%;
      height: 2px;
    }

    &--background {
      &::before {
        background-color: $white;
      }
    }
  }
}
