.brands {
  margin-bottom: 68px;

  @include media-4 {
   margin-bottom: 44px;
  }

  &__img {
    width: 80px;
    height: 100%;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
