@import 'variables';


@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/OpenSans/OpenSans-Bold.woff') format('woof');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Light.woff2') format('woff2'),
       url('../fonts/OpenSans/OpenSans-Light.woff') format('woof');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/OpenSans/OpenSans-Regular.woff') format('woof');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2'),
       url('../fonts/OpenSans/OpenSans-SemiBold.woff') format('woof');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Ruda';
  src:url('../fonts/Ruba/Ruda-Bold.woff2') format('woff2'),
      url('../fonts/Ruba/Ruda-Bold.woff') format('woof');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Ruda';
  src: url('../fonts/Ruba/Ruda-Regular.woff2') format('woff2'),
       url('../fonts/Ruba/Ruda-Regular.woff') format('woof');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Ruda';
  src: url('../fonts/Ruba/Ruda-SemiBold.woff2') format('woff2'),
       url('../fonts/Ruba/Ruda-SemiBold.woff') format('woof');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}


@font-face {
  font-family: 'Ruda';
  src:url('../fonts/Ruba/Ruda-Black.woff2') format('woff2'),
      url('../fonts/Ruba/Ruda-Black.woff') format('woof');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
