@import 'variables';


@font-face {
  font-family: 'FontName';
  src: url('FileName.eot?#iefix') format('woof2'),
       url('FileName.eot?#iefix') format('woof');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  
}

