.footer {
  color: $white;
  background-color: $black-800;

  @include media-1 {
    text-align: center;
  }

  &__top {
    padding-top: 30px;

    @include media-4 {
      padding-bottom: 23px;
      padding-top: 25px;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 27px;

    @include media-1 {
      margin: 0 auto;
      max-width: 200px;
      margin-bottom: 24px;
    }
  }

  &__logo-img {
    width: 200px;
    margin: 0 auto;
  }

  &__inner {
    display: flex;
    justify-content: center;

    @include media-1 {
      flex-direction: column-reverse;
    }
  }

  .form-search {
    max-width: 306px;
    width: 100%;
    margin-right: auto;

    @include media-1 {
      margin: 0 auto;
    }

    @include media-4 {
      padding-top: 26px;
      text-align: left;
    }

    &::after {
      display: none;
    }

    &__text {
      margin-bottom: 18px;
      display: inline-block;
      line-height: 1;
      font-weight: 400;

      @include media-4 {
        margin-bottom: 20px;
      }
    }

    &__inner {
      position: relative;

      @include media-4 {
        max-width: 300px;
      }
    }

    &__input {
      padding-bottom: 11px;
      padding-top: 11px;
      padding-left: 12px;
      padding-right: 140px;
      line-height: 1;
      letter-spacing: 0;
      color: $silver-400;

      &::placeholder {
        line-height: 1;
        letter-spacing: 0;
        color: $silver-400;
      }
    }

    &__button {
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 16px;
      padding-right: 16px;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0;
      background-color: $green;
      height: 100%;

      @include media-3 {
        border-radius: 0 6px 6px 0;
      }

      @include media-4 {
        padding-top: 14px;
        padding-bottom: 12px;
        padding-left: 13px;
        padding-right: 10px;
      }
    }
  }

  .address {
    position: relative;

    @include media-4 {
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: -15px;
        width: calc(100% + 30px);
        height: 1px;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    &__list {
      @include media-4 {
        margin-bottom: 18px;
      }
    }

    &__item {
      @include media-3 {
        &:not(:last-child) {
          margin-bottom: 19px;
        }
      }
    }
  }

  .social {
    margin-bottom: 28px;

    @include media-1 {
      justify-content: center;
    }

    @include media-4 {
      margin-bottom: 22px;
    }
  }

  &__bottom {
    padding-top: 23px;
    padding-bottom: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    @include media-4 {
      padding-top: 23px;
    }
  }
}

.list {
  column-count: 3;
  column-gap: 75px;
  margin-right: 86px;
  position: relative;

  @include media-1 {
    padding-top: 24px;
    margin-right: 0;
  }

  @include media-4 {
    column-count: 2;
    column-gap: 115px;
    text-align: left;
    margin: 0 auto;

    &::before {
      content: "";
      position: absolute;
      bottom: -7px;
      left: -144px;
      width: calc(100% + 288px);
      height: 1px;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &__item {
    margin-bottom: 21px;
    font-weight: 400;

    @include media-4 {
      margin-bottom: 19px;
      max-width: 64px;
    }
  }

  &__link {
    white-space: nowrap;
  }
}

.copyrigh {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-4 {
      flex-direction: column-reverse;
    }
  }

  &__link {
    font-weight: 400;
  }

  &__list {
    display: flex;

    @include media-4 {
      margin-bottom: 24px;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}
