@import "variables";
@import "mixin";

html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

body {
  height: 100%;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  background-color: $white;
  color: $black;
}

.container {
  max-width: $cont_width;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.logo {
  &__img {
    object-fit: cover;
    width: 100%;
  }
}

.btn {
  padding: 12px 24px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.48px;
  line-height: 1.3;
  border-radius: 6px;
  outline: transparent;
  display: inline-block;

  &--bg {
    background-color: $green;
    color: $white;
    transition: background-color 0.5s ease-in-out;

    &:focus {
      box-shadow: 0 0 0 4px #e0edcf;
    }

    &:hover {
      background-color: $green-100;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &--background {
    color: $green;
    border: 1px solid $green;
    transition: background-color 0.5s ease-in-out;

    &:focus {
      box-shadow: 0 0 0 4px rgba(99, 166, 14, 0.5);
    }

    &:hover {
      background-color: $focus;
    }

    &:active {
      box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

.title {
  text-align: center;
  font-size: 32px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  font-family: "ruda", sans-serif;
}

.form-search {
  max-width: 576px;
  width: 100%;
  position: relative;

  &__link {
    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 10px);
      left: 12px;
      mask: url("../images/sprite.svg#icon-search") no-repeat center/ cover;
      width: 20px;
      height: 20px;
      background-color: $black-800;
    }
  }

  &__input {
    background-color: $white;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 170px;
    width: 100%;
    border-radius: 6px;

    &::placeholder {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.48px;
      line-height: 1.4;
      color: $black-800;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $black-800;
    padding-top: 16px;
    padding-left: 50px;
    padding-bottom: 15px;
    padding-right: 52px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    border-radius: 0 6px 6px 0;
    outline: transparent;
    transition: background-color 0.5s ease-in-out;

    &:focus {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
      border-radius: 0 6px 6px 0;
    }

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:active {
      box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);
      color: rgba(255,255,255 , 0.5);
    }
  }
}

.list {
  column-count: 3;
  column-gap: 75px;

  &__item {
    margin-bottom: 21px;
    font-weight: 400;
  }

  &__link {
    white-space: nowrap;
  }
}

.variety {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__button {
    color: $dark-500;
    font-size: 15px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    font-weight: 700;
    transition: color 0.5s ease-in-out;
    outline: transparent;
    border-bottom: 2px solid transparent;

    &:focus {
      box-shadow: 0 0 0 3px #e0edcf;
      border-radius: 3px;
    }

    &:hover {
      color: $green;
    }
  }

  .mixitup-control-active {
    border-bottom: 2px solid rgba(99, 166, 14, 0.2);
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.products-card {
  position: relative;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  background-color: $white;
  transition: border 0.5s ease-in-out;
  max-height: 409px;
  height: 100%;

  &:hover {
    border: 1px solid $green;
  }

  &__badges {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  &__button {
    position: absolute;
    width: 34px;
    height: 29px;
    top: 17px;
    right: 12px;
    outline: transparent;

    &:focus {
      box-shadow: 0 0 0 3px $active;
      border-radius: 3px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      mask-image: url("../images/sprite.svg#icon-like");
      background-color: $silver-600;
      mask-position: center;
      mask-size: cover;
      mask-repeat: no-repeat;
      width: 32px;
      height: 29px;
      transition: background-color 0.6s ease-in-out;
    }

    &:hover {
      &::after {
        background-color: $yellow-900;
      }
    }

    &:active {
      &::after {
        background-color: $yellow-900;
        opacity: 0.5;
      }
    }
  }

  &__images {
    display: inline-block;
    margin-top: 67px;
    margin-bottom: 7px;
  }

  &__img {
    object-fit: cover;
    min-height: 215px;
    height: 100%;
  }

  &__info {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: column;
  }

  &__name {
    @include line-clamp(14, 1.4, 3);
    height: 60px;
    margin-bottom: 6px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__basket {
    width: 32px;
    height: 32px;
    outline: transparent;

    rect {
      transition: fill 0.5s ease-in-out;
    }

    &:focus {
      box-shadow: 0 0 0 4px #e0edcf;
      border-radius: 3px;
    }

    &:hover {
      rect {
        fill: $green-focus;
      }
    }

    &:active {
      rect {
        fill: $green;
      }

      path {
        opacity: 0.5;
      }
    }
  }
}

.badges {
  &__item {
    padding: 3px 6px;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.48px;
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 6px;
    float: left;
    clear: left;
    display: none;

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    &--new {
      background-color: $green;
    }

    &--sale {
      background-color: $red-900;
    }

    &--hit {
      background-color: $orange-900;
    }

    &--on {
      display: block;
    }
  }
}

.prices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__item {
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.48px;
    color: $dark-500;

    &--old {
      color: $silver-600;
      position: relative;
      display: inline-block;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $silver-600;
        transform: rotate(165deg);
      }
    }

    &--off {
      &::before {
        display: none;
      }
    }
  }
}
