@import "variables";
@import "mixin";

html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

body {
  height: 100%;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  background-color: $white;
  color: $black;
}

.container {
  max-width: $cont_width;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.fixed {
  position: fixed;
  width: 100%;
}

.logo {
  @include media-1 {
    max-width: 120px;
    width: 100%;
  }
}

.btn {
  padding: 11px 24px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.48px;
  line-height: 1.3;
  border-radius: 6px;
  outline: transparent;
  display: inline-block;

  &--bg {
    background-color: $green;
    color: $white;
    transition: background-color 0.5s ease-in-out;

    &:focus {
      box-shadow: 0 0 0 4px #e0edcf;
    }

    &:hover {
      background-color: $green-100;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &--background {
    color: $green;
    border: 1px solid $green;
    transition: background-color 0.5s ease-in-out;

    &:focus {
      box-shadow: 0 0 0 4px rgba(99, 166, 14, 0.5);
    }

    &:hover {
      background-color: $focus;
    }

    &:active {
      box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

.button {
  font-size: 24px;
  font-weight: 400;
  font-family: "ruda", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.48px;
  padding-bottom: 18px;
  border-bottom: 1px solid $silver-600;
  padding: 18px;
  width: 100%;
  text-align: left;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 9px);
    right: 24px;
    width: 10px;
    height: 18px;
    mask: url("../images/sprite.svg#chevron__breadcrumbs") no-repeat center/ cover;
    background-color: $silver-600;
    transform: rotate(270deg);
  }

  &:hover {
    box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
  }
}

.title {
  text-align: center;
  font-size: 32px;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  font-family: "ruda", sans-serif;

  @include media-4 {
    font-size: 24px;
  }
}

.form-search {
  max-width: 576px;
  width: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 10px);
    left: 12px;
    mask: url("../images/sprite.svg#icon-search") no-repeat center/ cover;
    width: 20px;
    height: 20px;
    background-color: $black-800;
  }

  &__input {
    background-color: $white;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 170px;
    width: 100%;
    border-radius: 6px;

    &::placeholder {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.48px;
      line-height: 1.4;
      color: $black-800;

      @include media-2 {
        font-size: 10px;
      }

      @include media-3 {
        font-size: 14px;
      }
    }

    @include media-2 {
      font-size: 10px;
      padding-left: 40px;
      padding-right: 120px;
    }

    @include media-3 {
      font-size: 14px;
      padding-right: 140px;
    }

    &--off {
      @include media-3 {
        display: none;
      }
    }

    &--on {
      display: none;

      @include media-3 {
        display: block;
        padding-top: 14px;
        padding-bottom: 14px;
      }
    }
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $black-800;
    padding-top: 16px;
    padding-left: 50px;
    padding-bottom: 15px;
    padding-right: 52px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    border-radius: 0 6px 6px 0;
    outline: transparent;
    transition: background-color 0.5s ease-in-out;

    &:focus {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
      border-radius: 0 6px 6px 0;
    }

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:active {
      box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);
      color: rgba(255, 255, 255, 0.5);
    }

    @include media-1 {
      padding-left: 25px;
      padding-right: 25px;
    }

    @include media-2 {
      font-size: 10px;
    }

    @include media-3 {
      padding: 14px 29px;
      border-radius: 0;
      font-size: 14px;
    }
  }
}

.variety {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 24px;

      @include media-4 {
        margin-right: 0;
      }
    }

    &:first-child {
      @include media-4 {
        margin-right: 30px;
      }
    }

    &:nth-child(2) {
      @include media-4 {
        margin-right: 25px;
      }
    }

    &:nth-child(4) {
      @include media-4 {
        margin-left: auto;
        margin-right: 25px;
      }
    }

    &:last-child {
      @include media-4 {
        margin-right: 54px;
      }
    }

    @include media-4 {
      margin-bottom: 14px;
    }
  }

  &__button {
    color: $dark-500;
    font-size: 15px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    font-weight: 700;
    transition: color 0.5s ease-in-out;
    outline: transparent;
    border-bottom: 2px solid transparent;

    &:focus {
      box-shadow: 0 0 0 3px #e0edcf;
      border-radius: 3px;
    }

    &:hover {
      color: $green;
    }

    @include media-4 {
      font-size: 14px;
    }
  }

  .mixitup-control-active {
    border-bottom: 2px solid rgba(99, 166, 14, 0.2);
  }

  @include media-4 {
    flex-wrap: wrap;
    justify-content: start;
    max-width: 274px;
    margin: 0 auto;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.products-card {
  padding-top: 55px;
  padding-bottom: 18px;
  position: relative;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  background-color: $white;
  transition: border 0.5s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include media-3 {
    padding-bottom: 12px;
  }

  &:hover {
    border: 1px solid $green;

    .products-card__image {
      &::before {
        opacity: 1;
      }
    }

    .products-card__increase {
      opacity: 1;
    }
  }

  &__badges {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 50;
  }

  &__button {
    position: absolute;
    width: 34px;
    height: 29px;
    top: 17px;
    right: 12px;
    outline: transparent;

    &:focus {
      box-shadow: 0 0 0 3px $active;
      border-radius: 3px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      mask-image: url("../images/sprite.svg#icon-like");
      background-color: $silver-600;
      mask-position: center;
      mask-size: cover;
      mask-repeat: no-repeat;
      width: 32px;
      height: 29px;
      transition: background-color 0.6s ease-in-out;

      @include media-3 {
        width: 24px;
        height: 22px;
      }
    }

    &:hover {
      &::after {
        background-color: $yellow-900;
      }
    }

    &:active {
      &::after {
        background-color: $yellow-900;
        opacity: 0.5;
      }
    }

    @include media-4 {
      right: 1px;
    }
  }

  &__image-box {
    position: relative;
    margin-bottom: 10px;

    @include media-4 {
      margin-bottom: 11px;
    }
  }

  &__image {
    display: block;
    position: relative;
    padding-bottom: 75.51%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.1);
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      z-index: 3;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__increase {
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    background-color: $white;
    border-radius: 24px;
    width: 48px;
    height: 48px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      width: 20px;
      height: 20px;
      mask: url("../images/sprite.svg#icon-increase") no-repeat center/ cover;
      background-color: $green;
    }
  }

  &__info {
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    @include media-3 {
      padding-left: 12px;
      padding-right: 12px;
    }
  }

  &__name {
    @include line-clamp(14, 1.4, 3);
    letter-spacing: 0.48px;
    flex: 1 1 auto;
    margin-bottom: 9px;
    max-width: 264px;
  }

  &__link {
    display: block;
  }

  &__box {
    display: flex;
    justify-content: space-between;

    @include media-3 {
      flex-wrap: wrap;
    }
  }

  &__basket {
    width: 32px;
    height: 32px;
    outline: transparent;
    background-color: $green;
    position: relative;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 8px);
      left: calc(50% - 8px);
      mask: url("../images/sprite.svg#icon-cart_btn") no-repeat center/ cover;
      background-color: $white;
      width: 16px;
      height: 16px;
    }

    &:focus {
      box-shadow: 0 0 0 4px $active;
    }

    &:hover {
      background-color: $green-focus;
    }

    &:active {
      box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);

      &::before {
        opacity: 0.5;
      }
    }
  }
}

.badges {
  &__item {
    padding: 3px 6px;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.48px;
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 6px;
    float: left;
    clear: left;
    display: none;
    z-index: 100;

    &:not(:last-child) {
      margin-bottom: 6px;
    }

    &--new {
      background-color: $green;
    }

    &--sale {
      background-color: $red-900;
    }

    &--hit {
      background-color: $orange-900;
    }

    &--on {
      display: block;
    }
  }
}

.prices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__item {
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.48px;
    color: $dark-500;
    align-self: flex-start;

    &--old {
      color: $silver-600;
      position: relative;
      display: inline-block;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $silver-600;
        transform: rotate(165deg);
      }
    }
  }
}

.address {
  

  &__list {
    margin-bottom: 21px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 19px;
    }
  }

  &__link {
    font-weight: 400;
    font-style: normal;
  }
}

.social {
  display: flex;
  align-items: center;


  &__link {
    display: inline-block;
    background-repeat: no-repeat;
    outline: transparent;
    transition: opacity 0.5s ease-in-out;
    background-position: center;

    &--facebook {
      width: 23px;
      height: 32px;
      margin-right: 16px;
    }

    &--youtube {
      width: 32px;
      height: 23px;
      margin-right: 11px;
    }

    &--twitter {
      width: 32px;
      height: 27px;
      margin-right: 13px;
    }

    &--instagram {
      width: 32px;
      height: 32px;
    }

    &:focus {
      box-shadow: 0 0 0 3px #e0edcf;
      border-radius: 3px;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.breadcrumbs {
  padding: 24px 0;
  display: flex;
  align-items: center;

  &__item {
    position: relative;

    &:not(:last-child) {
      padding-right: 10px;
      margin-right: 6px;
    }

    &:last-child {
      &::before {
        display: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 5px);
      right: 0;
      width: 6px;
      height: 10px;
      mask: url("../images/sprite.svg#chevron__breadcrumbs") no-repeat center/ cover;
      background-color: $silver-600;
    }
  }

  &__link {
    color: $dark-500;
    letter-spacing: 0.48px;
    font-weight: 400;
    line-height: 1.2;
  }
}

.suggestions {
  width: 300px;

  &__item {
    border: 1px solid $silver-600;
    border-radius: 6px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.font {
  color: $dark-500;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.48px;
  display: block;
  font-weight: 400;

  &:not(:last-child) {
    margin-bottom: 11px;
  }
}

.categories__list,
.offer__list,
.brand__list {
  padding: 18px;
}

.catalog-products {
  padding: 46px 0 72px;

  &__title {
    text-align: left;
    margin-bottom: 48px;
    font-size: 42px;
    letter-spacing: 0.48px;
    line-height: 1.2;
    font-weight: 700;
    font-family: "ruda", sans-serif;
    text-transform: unset;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

.categories {
  &__label {
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;

    &:nth-child(13) {
      margin-bottom: 7px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__input {
    @extend %checkbox-hidden;
  }
}

.offer {
  &__label {
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked + .offer__checkbox {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 5px;
        width: 12px;
        height: 9px;
        mask: url("../images/sprite.svg#icon__checked") no-repeat center/ cover;
        background-color: $dark-500;
      }
    }
  }

  &__checkbox {
    width: 24px;
    display: block;
    height: 24px;
    border: 1px solid $silver-600;
    border-radius: 3px;
    margin-right: 12px;
  }
}

.brand {
  &__label {
    display: flex;
    align-items: center;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked + .brand__checkbox {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 5px;
        width: 12px;
        height: 9px;
        mask: url("../images/sprite.svg#icon__checked") no-repeat center/ cover;
        background-color: $dark-500;
      }
    }
  }

  &__checkbox {
    width: 24px;
    display: block;
    height: 24px;
    border: 1px solid $silver-600;
    border-radius: 3px;
    margin-right: 12px;
  }
}

.price {
  &__title {
    font-size: 24px;
    font-weight: 400;
    font-family: "ruda", sans-serif;
    line-height: 1.2;
    letter-spacing: 0.48px;
    border-bottom: 1px solid $silver-600;
    padding: 15px 18px;
    text-align: left;
  }

  &__list {
    padding: 22px 18px 14px;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
  }

  &__text {
    display: flex;
    align-items: center;
    color: $silver-600;
    font-family: "Ruda", sans-serif;
    font-weight: 400;
    letter-spacing: 0.48px;
    line-height: 1.2;
    flex-basis: 120px;
  }

  &__number {
    align-self: center;
    width: 80px;
    height: 40px;
    display: block;
    background-color: $header-services_bg;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    color: $dark-500;
    line-height: 1;
    letter-spacing: 0.48px;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 26px;
    margin: 0 6px;
  }
}

.irs {
  &--flat {
    .irs-line {
      height: 2px;
      background-color: #c4c4c4;
      border-radius: 0;
    }

    .irs-bar {
      background-color: $green;
      height: 2px;
    }

    .irs-handle {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: $green;
      top: 17px;
    }

    .irs-from,
    .irs-to,
    .irs-max,
    .irs-min,
    .irs-single {
      display: none;
    }
  }
}

.irs--flat .irs-handle > i:first-child {
  display: none;
}

.filter {
  margin-bottom: 30px;
  padding-bottom: 18px;
  justify-content: flex-end;
  align-items: center;
  display: flex;

  &__select {
    border: 1px solid $silver-600;
    border-radius: 3px;
    font-weight: 400;
    color: $dark-500;
    margin-right: 15px;
  }

  &__button {
    width: 47px;
    height: 47px;
    border-radius: 3px;
    background-color: $header-services_bg;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &--menu {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: calc(50% - 17px);
        left: calc(50% - 17px);
        width: 36px;
        height: 37px;
        mask: url("../images/sprite.svg#icon-filter_1") no-repeat center/ cover;
        background-color:$silver-600;
      }
    }

    &--icon {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: calc(50% - 18px);
        left: calc(50% - 17px);
        width:36px;
        height:34px;
        mask: url("../images/sprite.svg#icon-filter_2")no-repeat center/ cover;
        background-color: $silver-600;
      }
    }

    &--menu,
    &--icon {
      &--active {
        &::before {
          background-color:$green;
        }
      }
    }
  }
}
