
@mixin padd ($padd...) {
    padding: $padd;
}

@mixin mar ($mar...) {
    margin: $mar;
}

@mixin font ($fz,$lh,$fw) {
    font-size: $fz;
    line-height: $lh;
    font-weight: $fw;
}

@mixin wh ($w,$h) {
    width: $w;
    height: $h;
}

@mixin line-clamp ($font-size, $line-height, $lines-to-show) {
    display: block;
    display: -webkit-box;
    font-size: $font-size + px;
    max-height: $font-size * $line-height * $lines-to-show + px;
    line-height: $line-height;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines-to-show;
}