@import "variables";

@mixin line-clamp ($font-size, $line-height, $lines-to-show) {
    display: block;
    display: -webkit-box;
    font-size: $font-size + px;
    max-height: $font-size * $line-height * $lines-to-show + px;
    line-height: $line-height;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines-to-show;
}

@mixin media-1 {
    @media (max-width: $mds1 + 'px') {
        @content;
    }
}

@mixin media-2 {
    @media (max-width: $mds2 + 'px') {
        @content;
    }
}

@mixin media-3 {
    @media (max-width: $mds3 + 'px') {
        @content;
    }
}

@mixin media-4 {
    @media (max-width: $mds4 + 'px') {
        @content;
    }
}