.product {
  padding-top: 48px;

  &__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;

    @include media-2 {
      flex-direction: column;
    }
  }

  &__slider {
    position: relative;
    max-width: 630px;
    width: 100%;
    margin-right: 30px;
    align-self: flex-start;

    @include media-1 {
      max-width: 550px;
    }

    @include media-2 {
      max-width: 100%;
    }
  }

  &__slider-item {
    position: absolute;
    top: 50%;
    z-index: 20;
    transform: translateY(-50%);

    &--prev {
      left: 22px;
    }

    &--next {
      right: 22px;
    }
  }

  &__slider-button {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 6px;

    @include media-4 {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 16px);
      left: calc(50% - 10px);
      height: 32px;
      width: 20px;
      mask: url("../images/sprite.svg#slider-arrow_prev") no-repeat center/cover;
      background-color: $dark-500;
    }

    &--next {
      &::before {
        transform: rotate(180deg);
      }
    }
  }

  &__box {
    max-width: 630px;

    @include media-2 {
      max-width: 100%;
    }
  }

  &__tabs {
    margin-bottom: 62px;
    border-top: 1px solid $silver-600;

    @include media-3 {
     margin-bottom: 54px;
    }
  }

  &__tabs-container {
    max-width: 720px;
  }

  &__tabs-list {
    margin-bottom: 48px;
  }

  .slider-gallery {
    border: 1px solid $silver-600;
    border-radius: 4px;

    &__item {
      padding: 70px 105px;

      @include media-2 {
        padding: 60px 80px;
      }

      @include media-4 {
        padding: 0;
      }
    }

    &__img {
      margin: 0 auto;
    }
  }

  .info {
    padding-top: 22px;
    padding-bottom: 10px;
    flex: 1 1 auto;

    &__title {
      margin-bottom: 18px;
      text-align: left;
      line-height: 1.2;
    }

    .title {
      @include media-3 {
        font-size: 26px;
      }
    }

    &__inner-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:last-child {
        margin-bottom: 32px;

        @include media-1 {
          flex-wrap: wrap;
          row-gap: 10px;
          column-gap: 5px;
        }

        @include media-2 {
          flex-wrap: nowrap;
        }

        @include media-4 {
         justify-content: flex-start;
         column-gap: 18px;
        }

        .counter {
          @include media-1 {
            margin-right: 0;
          }

          @include media-3 {
            margin-bottom: 0;
            width: auto;
          }
        }

        .btn {
          @include media-1 {
            order: 1;
            margin-right: 0;
            margin: 0 auto;
          }

          @include media-2 {
            margin: 0;
            order: 0;
          }

          @include media-4 {
            font-size: 0;
            width: 48px;
            height: 44px;
            padding: 0;
            margin-right: auto;
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__list-item {
      &:first-child {
        margin-bottom: 18px;
      }

      &:nth-child(2) {
        margin-bottom: 30px;

        @include media-4 {
         margin-bottom: 24px;
        }
      }
    }

    &__inner-text {
      text-transform: uppercase;

      &--green {
        color: $green;
      }
    }
  }

  .badges {
    &__item {
      padding: 6px 9px;
      font-size: 16px;
    }
  }

  .raiting {
    @include media-4 {
     margin-bottom: 21px;
    }

    &__text {
      padding: 4px 5px;
      color: $silver-600;
      line-height: 1.2;
      letter-spacing: 0.03em;
      font-weight: 400;
      border-radius: 3px;
      background-color: $header-services_bg;
      margin-right: 7px;
    }
  }

  .prices {
    flex-direction: row;
    justify-content: stretch;

    &__item {
      line-height: 1;
      font-weight: 700;
      letter-spacing: 0.03em;

      &:not(:last-child) {
        margin-right: 18px;
        font-size: 20px;
        align-self: flex-end;
      }

      &:last-child {
        font-size: 30px;
        color: $green;
      }
    }
  }

  .counter {
    margin-left: 0;
    margin-right: 0;
    align-items: stretch;
    margin-right: 18px;

    &__text {
      max-width: 70px;
      height: auto;
    }

    &__click {
      width: 44px;
      height: 44px;
    }
  }

  .btn {
    position: relative;
    padding: 14px 12px 14px 49px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.03em;
    margin-right: auto;

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 12px);
      left: 12px;
      width: 24px;
      height: 23px;
      mask: url("../images/sprite.svg#icon-cart") no-repeat center/cover;
      background-color: $white;
    }
  }

  .btn-icon {
    position: relative;
    width: 44px;
    height: 44px;

    &::before {
      content: "";
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 22px);
      width: 44px;
      height: 40px;
      mask: url("../images/sprite.svg#icon-like") no-repeat center/cover;
      background-color: $silver-600;
    }
  }

  .description {
    &__title {
      font-family: "Ruda", sans-serif;
      font-size: 18px;
      line-height: 1.2;
      letter-spacing: 0.03em;
      padding-bottom: 18px;
      margin-bottom: 18px;
      border-bottom: 1px solid $silver-600;
    }

    &__text {
      color: $dark-500;
      max-width: 470px;
      line-height: 1.6;
      margin: 0 0 18px 7px;
    }

    &__link {
      color: $green;
      font-weight: 400;
      line-height: 1.2;
      letter-spacing: 0.03em;
    }
  }

  .tabs {
    display: flex;
    justify-content: space-between;

    &__item {
      padding-top: 16px;
    }

    &__link {
      text-transform: uppercase;
      font-size: 14px;
      line-height: 1.3;
      font-family: "Ruda", sans-serif;
      padding-top: 16px;

      &--active {
        color: $green;
        border-top: 3px solid $green;
      }
    }
  }

  .content-tabs {
    &__item {
      display: none;

      &.content-tabs {
        &__item {
          &--active {
            display: block;
          }
        }
      }
    }

    &__description {
      font-size: 16px;
      color: $silver-400;
      line-height: 1.6;

      p {
        &:not(:last-child) {
          margin-bottom: 40px;
        }
      }
    }

    &__info {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.6;
      color: $dark-500;

      p {
        &:not(:last-child) {
          margin-bottom: 10px;
        }

        span {
          font-weight: 400;
        }
      }
    }
  }

  .tabs-reviews {
    &__title {
      font-size: 18px;
      font-family: "Ruda", sans-serif;
      letter-spacing: 0.03em;
      line-height: 1.2;
      text-transform: uppercase;
      margin-bottom: 48px;
    }

    &__list {
      margin-bottom: 72px;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid $silver-600;
      }
    }

    &__box {
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__info {
      display: flex;
    }

    &__user {
      display: flex;
      align-items: center;
    }

    &__user-img {
      border-radius: 50%;
      margin-right: 24px;
    }

    &__user-info {
      display: flex;
      flex-direction: column;
    }

    &__user-name {
      font-weight: 700;
    }

    &__user-date {
      color: $silver-400;
      font-weight: 400;
      line-height: 1.7;
    }

    &__text {
      font-weight: 400;
      color: $dark-500;
      font-size: 16px;
      line-height: 1.6;
    }

    &__grade {
      margin-bottom: 15px;
    }
  }

  .grade {
    display: flex;
    align-items: center;
    gap: 18px;

    &__item {
      font-size: 16px;
      line-height: 1.3;
    }
  }

  .form-tabs {
    &__inner {
      margin-bottom: 24px;
      display: flex;
      gap: 30px;

      @include media-4 {
       flex-direction: column;
       row-gap: 18px;
      }
    }

    &__title {
      font-size: 16px;
      font-weight: 400;
      line-height: 1.3;
      margin-bottom: 12px;
    }

    &__textarea,
    &__input {
      outline: transparent;

      &:focus {
        box-shadow: 0 0 0 3px $active;
        border: 1px solid $green;
      }
    }

    &__textarea {
      border: 1px solid $silver-600;
      border-radius: 3px;
      padding: 18px;
      min-height: 165px;
      color: $silver-600;
      line-height: 1.3;

      &::placeholder {
        color: $silver-600;
        line-height: 1.3;
      }
    }

    &__input {
      border: 1px solid $silver-600;
      border-radius: 3px;
      padding: 18px;
      font-weight: 400;
      color: $silver-600;
      line-height: 1.3;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &::placeholder {
        font-weight: 400;
        color: $silver-600;
        line-height: 1.3;
      }
    }

    &__box {
      display: flex;
      flex-direction: column;
      flex: 1 1 260px;

      @include media-4 {
       flex: 1 1 auto;
      }

      &:not(:last-child) {
        flex: 1 1 400px;

        @include media-4 {
         flex: 1 1 auto;
        }
      }
    }

    &__btn {
      padding: 12px 24px;
      background-color: $green;
      color: $white;
      border-radius: 6px;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.03em;
      line-height: 1.3;
      outline: transparent;
      transition: background-color 0.5s ease-in-out;

      &:focus {
        box-shadow: 0 0 0 4px $active;
      }

      &:hover {
        background-color: $green-100;
      }

      &:active {
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }

  .tabs-save {
    position: relative;
    display: flex;
    column-gap: 12px;
    font-weight: 400;
    color: $dark-500;
    line-height: 1.3;
    margin-bottom: 24px;

    &__input {
      &:checked + .tabs-save__span {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 6px;
          left: 5px;
          width: 12px;
          height: 9px;
          mask: url("../images/sprite.svg#icon__checked") no-repeat center/cover;
          background-color: $dark-500;
        }
      }
    }

    &__span {
      width: 24px;
      height: 24px;
      border-radius: 3px;
      border: 1px solid $silver-600;
      transition: border 0.4s ease-in-out;
      flex: 0 0 auto;

      &:hover {
        border: 1px solid $dark-500;
      }
    }
  }
}
