.slider {
  position: relative;

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 60px;
    height: 60px;
    outline: transparent;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out;

    &--right,
    &--left {
      position: absolute;

      &::after {
        content: "";
        position: absolute;
        top: calc(50% - 16px);
        left: calc(50% - 9px);
        width: 18px;
        height: 32px;
        background-color: $dark-500;
        transition: background-color 0.3s ease-in-out;
      }
    }

    &--right {
      right: 60px;

      &::after {
        mask: url("../images/sprite.svg#next-arrow") no-repeat center/ cover;
      }
    }

    &--left {
      left: 60px;

      &::after {
        mask: url("../images/sprite.svg#prev-arrow") no-repeat center/ cover;
      }
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
      border-radius: 6px;
    }

    &:hover {
      background-color: $active;

      &::after {
        background-color: $green;
      }
    }

    &:active {
      background-color: #f3f3f2;

      &::after {
        background-color: $green;
      }
    }

    @include media-1 {
      display: none;
    }
  }

  &__item {
    max-height: 600px;
    height: 100vh;

    @include media-2 {
     max-height: 410px;
    }

    @include media-4 {
     max-height: 320px;
    }
  }

  &__inner {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding-top: 142px;
    padding-bottom: 147px;
    height: 100%;

   
    @include media-2 {
      padding: 100px 0;
    }

    @include media-3 {
      padding-top: 60px;
      padding-bottom: 53px;
    }
  }

  &__container {
    max-height: 100%;
  }

  &__content {
    background-color: $slider-bg;
    padding: 24px 24px;

    @include media-3 {
      padding: 15px 15px;
      margin-right: -15px;
      margin-left: -15px;
    }
  }

  &__content-title {
    font-size: 60px;
    color: $dark-500;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 7px;
    font-family: "Ruda", sans-serif;
    max-width: 761px;

    @include media-2 {
      font-size: 20px;
      max-width: 240px;
    }

    @include media-3 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 15px;
      max-width: 250px;
    }
  }

  &__content-sale {
    display: block;
    color: $red-900;
  }

  &__content-text {
    color: $dark-500;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 36px;
    max-width: 761px;

    @include media-3 {
      margin-bottom: 27px;
    }
  }

  &__content-link {
    @include media-4 {
      font-size: 14px;
    }
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 14px;
  left: calc(50% - 29px);

  button {
    font-size: 0;
    border: none;
    padding: 0;
    width: 12px;
    height: 12px;
    background-color: $white;
    border-radius: 50%;
    border: 1px solid $silver-600;
    margin-right: 10px;
  }
}

.slick-active {
  button {
    background-color: $green;
  }
}
