.stock {
  padding-top: 74px;
  padding-bottom: 72px;
  position: relative;
  background-color: $stock_bg;

  &__title {
    margin-bottom: 34px;

    @include media-4 {
     margin-bottom: 25px;
    }
  }

  &__button {
    margin-bottom: 48px;
    justify-content: center;

    .variety {
      &__item {

        &:not(:last-child) {
          margin-right: 30px;
        }

        @include media-4 {
          margin-bottom: 0;
        }
      }
    }

    @include media-4 {
      margin-bottom: 27px;
    }
  }

  .variety {

    &__item {

      @include media-4 {
       margin-right: 0;
      }
    }
    @include media-4 {
      max-width: 100%;
    }
  }

  &__inner {
    margin-bottom: 48px;

    @include media-1 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-2 {
      grid-gap: 15px;
    }

    @include media-3 {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }

    @include media-4 {
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
      grid-gap: 15px;
      margin-bottom: 24px;
    }
  }

  .badges {
    &__item {
      margin-bottom: 0;
    }
  }

  .products-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 12px;
    height: 100%;

    &__images {
      margin-top: auto;
      margin-right: 12px;
    }

    &__img {
      width: 100%;
      max-height: 97px;
      min-height: 97px;
    }

    &__info {
      padding: 0;
      max-width: 164px;
      width: 100%;
      justify-content: space-between;
      height: 100%;
    }

    &__name {
      height: 100%;
      margin-bottom: 0;

      @include media-4 {
       margin-top: -1px;
      }
    }

    &__availability {
      font-size: 10px;
      line-height: 1;
      letter-spacing: 0.48px;
      text-transform: uppercase;

      &--green {
        color: $green;
      }

      &--red {
        color: $red-900;
      }

      &--silver {
        color: $silver-600;
      }
    }

    @include media-4 {
      max-width: 300px;
      margin: 0 auto;
      min-height: 124px;
      max-height: 124px;
    }
  }

  .prices {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    &__item {
      font-size: 20px;
      font-weight: 600;

      &:not(:last-child) {
        margin-right: 23px;
      }

      &--old {
        font-size: 12px;
      }
    }
  }

  &__btn {
    margin: 0 auto;
    display: block;
  }

  @include media-3 {
    padding-top: 50px;
  }
}

.raiting {
  display: flex;
  align-items: center;

  &__text {
    color: $dark-500;
    font-weight: 700;
    line-height: 1;
    display: inline-block;
    letter-spacing: 0.48px;
    margin-right: 2px;
  }

  &__button {
    width: 16px;
    height: 15px;
    mask: url("../images/sprite.svg#icon-raiting") no-repeat center/ cover;
    background-color: #ffb800;
  }
}
