
//container width
$cont_width:1290px  +30;


$black:#121212;
$green:#63A60E;
$black-800:#31352B;
$white:#ffffff;
$focus:#EFF6E7;
$active: #E0EDCF;
$red-900:#CF3E3B;
$dark-500: #505050;
$orange-900: #FF7A00;
$silver-600: #C1C1C1;
$silver-400:#4F4F4F;
$green-focus:#4D800C;  


$header-bg:#31352b;
$header-top_bg:#63A60F;
$slider-bg:rgba(255, 255, 255, 0.8);
$header-services_bg:#F6F6F6;

