.goods {
  padding-bottom: 72px;

  &__title {
    margin-bottom: 30px;
  }

  &__button {
    margin-bottom: 48px;
  }

  &__inner {
    margin-bottom: 48px;
  }

  &__btn {
    margin: 0 auto;
    display: block;
  }
}

