.services {
  margin-bottom: 71px;
  background-color: $header-services_bg;
  padding-top: 51px;
  padding-bottom: 31px;

  &__inner {
    display: flex;
    justify-content: center;

    @include media-4 {
      flex-direction: column;
      align-items: center;
    }
  }

  &__box {
    max-width: 264px;
    width: 100%;
    padding-left: 74px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: $green;
      width: 50px;
      height: 50px;
    }

    &--motorbike {
      margin-right: 65px;

      &::before {
        mask-image: url("../images/sprite.svg#icon-motorbike");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
        width: 55px;
        height: 44px;
        top: 3px;
        left: -3px;
      }

      @include media-2 {
        margin-right: 40px;
      }

      @include media-3 {
        margin-right: 15px;
      }
    }

    &--return {
      margin-right: 66px;

      &::before {
        mask: url("../images/sprite.svg#icon-return") no-repeat center/cover;
      }

      @include media-2 {
        margin-right: 40px;
      }

      @include media-3 {
        margin-right: 15px;
      }
    }

    &--clock {
      &::before {
        mask: url("../images/sprite.svg#icon-clock") no-repeat center/cover;
      }
    }

    @include media-3 {
      padding-left: 74px;
    }

    @include media-4 {
      margin-right: 0;
      padding-right: 15px;
      max-width: 100%;
      padding-bottom: 32px;
    }
  }

  &__text {
    display: block;
    font-size: 16px;
    margin-bottom: 6px;

    @include media-2 {
      font-size: 12px;
    }

    @include media-4 {
      font-size: 16px;
      padding-right: 15px;
      margin-bottom: 7px;
    }
  }

  &__content {
    display: block;
    color: $dark-500;
    font-weight: 400;
    max-width: 187px;

    @include media-2 {
      font-size: 10px;
    }

    @include media-4 {
      font-size: 14px;
      max-width: 100%;
      width: 100%;
      padding-right: 15px;
    }
  }

  @include media-3 {
    margin-bottom: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include media-4 {
   margin-bottom: 46px;
   padding-bottom: 0;
  }
}
